extends layout

block content
  h1= title

  ul
    each copy in bookinstance_list
      li
        a(href=copy.url) #{copy.book.title} : #{copy.imprint} -
        if copy.copyStatus =='Available'
          span.text-success #{copy.copyStatus}
        else if copy.copyStatus=='Maintenance'
          span.text-danger #{copy.copyStatus}
        else
          span.text-warning #{copy.copyStatus}
        if copy.copyStatus!='Available'
          //span  (Due: #{copy.dueBack} )
          span  (Due: #{copy.due_back_formatted} )


    else
      li There are no book copies in this library.